<!DOCTYPE html>
<html>
<head>
  <title>Contact</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>

<div class="navbar">
  <div class="nav-left">My Blog</div>
  <div class="nav-right">
    <a href="/">Home</a>
    <a href="/blogs">My Blogs</a>
    <a href="/about">About</a>
  </div>
</div>

<div class="container">
  <h1>Contact</h1>
  <p>Email   :  solomon.prem.sinai@gmail.com</p>
  <p>Phone   :  +91 93758 29105</p>
</div> 

<footer>
  © 2026 Sinai. All rights reserved.
</footer>

</body>
</html>